:root {
  --title: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(73, 62, 64, 1) 26%
  );
  --font-family-1: "Mooli", sans-serif;
  --fav-color: aqua;
  --boom: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(60, 118, 231, 1) 23%,
    rgba(29, 144, 253, 1) 33%,
    rgba(98, 69, 252, 1) 100%
  );
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 144, 253, 1) 23%,
    rgba(98, 69, 252, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: auto;
}
/*Head */
header {
  background-image: url("./images/hector-j-rivas-1FxMET2U5dU-unsplash.jpg");
  color: var(--fav-color);
  padding-bottom: 20px;
}
h1 {
  color: aquamarine;
}

/* NavBar */
/* Create two columns/boxes that floats next to each other */
header .background-1 {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header nav .list-1 {
  text-align: center;
  display: flex;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  padding: 14px 16px;
}
/* Main- body*/

#head {
  text-align: center;
  color: var(--title);
  margin: 20% 0;
}
main p {
  font-family: var(--font-family-1);
  font-size: 20px;
}
main .img-1 {
  width: 40%;
  height: 100%;
}
h2 {
  font-size: 30px;
}
main section .md-cell {
  display: flex;
}
section .box-1 {
  padding: 0 35px;
}
section .box-2 {
  padding-left: 20px;
  padding-bottom: 30px;
}

#hr-1 {
  border-top: 20px double #8c8b8b;
  align-content: center;
}

/* MIDDLE SECTION */
#style {
  font-size: 30%;
}
#title {
  border: 5px solid var(--title);
  min-height: 100%;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}
.works {
  text-align: right;
}
.container1 {
  display: flex;
  justify-content: space-between;
  background-color: var(--fav-color);
}
.grid-wrapper {
  width: fit-content;
  display: flex;
  justify-content: end;
}
.container-grid {
  width: 60%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.pic {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  border: 10px solid transparent;
  border-image: url(border.png) 30 stretch;
}
.design-img {
  display: flex;
  width: 850px;
  height: 400px;
  margin-left: -200px;
}
#Blog {
  padding-bottom: 30px;
}
.blog,
.project {
  font-size: 20px;
}
.card-2:hover,
.card-3:hover {
  background-color: blueviolet;
  padding: 30px;
}
/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-left: 300px;
}
footer ul li a {
  font-size: 45px;
  margin: 0 35px;
}
footer ul li a:hover {
  color: var(--fav-color);
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
  /* Header */
  main .hide-img-1 {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }
  section .box {
    flex-direction: column;
  }
  section .box-2 {
    padding-bottom: -30px;
  }

  /*Main Section */
  #container {
    flex-direction: column;
  }
  .grid-wrapper {
    width: 115%;
    padding: 10px;
  }
  .container-grid {
    width: 100%;
  }
  .pic {
    display: flex;
    padding-right: -300px;
  }
  section figcaption p {
    font-family: var(--font-family-1);
    display: flex;
    justify-content: flex-start;
  }
  section .card {
    backdrop-filter: blur(9px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 20px 20px 50px;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  section .card:hover .card-content {
    transform: translateY(90%);
    opacity: 4;
    cursor: pointer;
  }
  section .card-content {
    text-align: center;
    padding: 20px;
  }

  /* Section Works */
  #title {
    border-bottom: 5px solid var(--boom);
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
  }

  section .design-img {
    margin-left: -45px;
    width: 90%;
    height: 200px;
  }
  div .container-grid .container-head {
    margin-right: 225px;
  }
  section #container {
    flex-direction: column;
    padding: 0 30px;
  }
  section div .container-grid .blog {
    width: 40%;
    margin-bottom: 30px;
  }
  section div .container-grid .blog-img {
    width: 60%;
  }
  .grid-wrapper {
    width: 100%;
    padding: 10px;
  }
  .container-grid {
    width: 85%;
  }

  /* FOOTER */
  footer {
    flex-direction: column;
  }
  footer section h3 {
    color: var(--fav-color);
    margin-left: -600%;
  }
  footer ul {
    flex-direction: column;
    padding: 20px 0;
  }
  footer ul li a {
    font-size: 50px;
  }
  footer .mobile-view-icons li {
    margin-bottom: 25px;
    flex-direction: column-reverse;
  }
  section p {
    text-align: center;
  }
}
